.dashboard-sider {
  height: 100vh !important;
}

.locked {
  color: #fff !important;
}

.dashboard-account-badge {
  padding: 2px 5px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffc700;
}

.dashboard-logo {
  color: #fff;
  padding: 24px;
  font-size: 20px;
  width: 200px;
}

.dashboard-main {
  margin: 0 !important;
  overflow: auto !important;
  height: calc(100vh - 64px) !important;
}

.dashboard-header {
  border-left: 1px solid #fff !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification {
  margin-right: 20px;
  border-radius: 6px;
  display: flex;
  svg {
    border: 1px solid #ffc700;
    background-color: transparent;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s ease;
    height: 30px;
    width: 40px;
  }
}


.ant-menu-item-selected {
  border: 1px solid #ffc700;
}

.dashboard-header svg {
  fill: #fff;
}

.menu {
  a {
    font-family: "Poppins";
  }
} 

.ant-menu-item-selected{
  background-color:#ffc700 !important;
}