#header * {
  background-color: white !important;
  color: #000 !important;
}

#header {
  .nav__wrapper {
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .first__nav {
      // padding: 40px 0;
      .hi {
        padding: 10px 0;
      }
      .fields {
        color: #ffc700 !important;
      }
    }
    .second__nav {
      img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
      }
    }
  }
}

#navbar {
  // margin-top: 30px;
  padding-top: 50px;
  ul {
    display: flex;
    gap: 15px;
    li * {
      font-size: 20px;
      transition: 0.5s;
      &:hover {
        color: #ffc700 !important;
      }
    }
  }
}
.about{
   margin-bottom: 120px;
}
#about, #resume {
  .about__wrapper, .resume__wrapper  {
    background-color: #fff !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
    .top_heading {
      margin-bottom: 10px;
      .line {
        background-color: #ffc700 !important;
      }
    }
    .about__personal__data {
      margin-top: 30px;
      h2 {
        color: #000 !important;
      }
      .data_list {
        margin-top: 15px;
        gap: 40px;
        li {
          color: #ffc700;
        }
        span {
          color: #000 !important;
        }
      }
    }
    .top_heading {
      span {
        color: #000 !important;
      }
    }
    .skill {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      color: #000 !important;
      position: relative;

      i {
        position: absolute;
        right: 0;
        bottom: -10px;
        margin-top: 0px;
      }
    }
  }
}

.data_list ul li::before {
   content: ">";
   font-size: 16px;
   margin-right: 5px;
   color: #ffc700 !important;
   line-height: 0;
   font-weight: bold;
 }