.main-stats {
   padding: 30px;
   border: none;
   background: #ffc700;
   padding-top: 50px;
   padding-bottom: 50px;
   border-radius: 10px;
   cursor: pointer;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 
 .dashboard-title {
   font-size: 32px;
   color: #000;
 }
 
 .dashboard-desc {
   font-size: 20px;
   color: #fff;
   margin-top: 50px;
 }
 
 .stats-row {
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
 }
 
 .stats-card {
   padding: 40px 20px;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 10px;
   background: rgb(37, 63, 118);
   border-radius: 10px;
   color: #fff;
   font-size: 20px;
   cursor: pointer;
 
   h3 {
     text-align: center;
   }
 
   p {
     font-weight: 600;
   }
 }
 
 .ant-pagination {
   margin-top: 30px;
   margin-bottom: 30px;
   text-align: center;
 }
 
 @media (max-width: 1050px) {
   .stats-row {
     grid-template-columns: repeat(3, 1fr);
   }
 }
 
 @media (max-width: 850px) {
   .stats-row {
     grid-template-columns: repeat(2, 1fr);
   }
 }
 
 @media (max-width: 650px) {
   .stats-row {
     grid-template-columns: repeat(1, 1fr);
   }
 }