@mixin media($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}
.education {
  .education_main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    gap: 25px;
    margin-bottom: 100px;
    @include media(1180px) {
      flex-direction: column;
    }
    .form__container {
      background: #fff;
      margin-top: 20px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
      width: 35%;
      padding: 10px;
      border-radius: 10px;
      @include media(1180px) {
        width: 100%
      }
      .error-message {
        color: red;
        font-family: "Poppins, sans-serif";
      }
      .edu_form_title {
        color: #000;
        font-family: "Poppins", sans-serif;
        display: flex;
        align-items: center;
        gap: 15px;
        @include media(500px){
          font-size: 20px;
        }
        img {
          width: 45px;
          filter: invert(1);
        }

      }
      .education__from {
        .form__group {
          display: flex;
          flex-direction: column;
          gap: 5px;
          margin-top: 15px;
          label {
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            color: #000;
          }
          input,
          textarea {
            width: 100%;
            padding: 10px;
            border: none;
            border-bottom: 2px solid #fff;
            outline: none;
            background: #eee;
            color: #000;
            &::placeholder {
              color: #000;
              font-family: "Poppins", sans-serif;
            }
          }
          textarea {
            width: 100%;
            height: 150px;
            resize: none;
          }
          .submit_exp_btn {
            cursor: pointer;
            font-size: 15px;
            padding: 0.7em 2.7em;
            letter-spacing: 0.06em;
            position: relative;
            font-family: inherit;
            border-radius: 0.6em;
            overflow: hidden;
            transition: all 0.3s;
            line-height: 1.4em;
            border: 2px solid #ffc700;
            color: #ffc700;
            background-color: transparent;
          }
        }
      }
    }

  }
  .edu_cards {
    margin-top: 20px;
    gap: 5px;
    margin-bottom: 180px;
    position: relative;
  }
  .desc {
    height: 50px;
  }
  .edu_loading {
    height: 600px;
  }
  .add_edu {
    margin-top: 70px;
  }
  .pagination_container {
    margin-top: 50px;
    margin-top: 50px;
    position: absolute;
    bottom: -50px;
    right: 0;
    .pagination {
      display: flex;
      align-items: center;
      gap: 15px;
      span {
        color: #000;
        font-family: "Poppins", sans-serif;
      }
      button {
        cursor: pointer;
        --green: #ffc700;
        font-size: 15px;
        letter-spacing: 0.06em;
        padding: 10px;
        position: relative;
        font-family: inherit;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid var(--green);
        background: transparent;
        color: var(--green);

      }
    }
  }
}
