@mixin media($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}
.main {
  .card {
    width: 700px;
    position: relative;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    @include media(500px){
        width: 100%;
    }
  }

  .card-title {
    width: 100%;
    background: #fff;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);  
    font-family: "Roboto", sans-serif;
    border-radius: 5px;

      @include media(500px){
        top: 100px;
        height: 100px;
      }
      p{
        font-weight: normal;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin: 20px 0;
    span{
      color: #ffc700;
    }
      }
  }
  .card-title h4 {
    font-weight: normal;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    span{
      color: #ffc700;
    }
  }
  .card-title h3 {
    font-weight: normal;
    font-family: "Source Sans Pro", sans-serif;
    span{
      color: #ffc700;
    }
  }
  .card-content {
    width: 100%;
    background: #fff;
    padding-top: 40px;
    border-radius: 0 0 10px 10px;
  }
  .card-content-row {
    padding: 0 10px;
    p {
      color: #fff;
      font-family: "Poppins", sans-serif;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .card-content-user-info {
    width: 100%;
    padding: 10px;
    display: flex;
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
  .card-content-user-info img {
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    vertical-align: middle;
  }
  .card-content-user-info h4 {
    font-family: "Roboto", sans-serif;
  }
  .card-content-user-info p {
    font-family: "Roboto", sans-serif;
    color: #ffc700;
  }
  .card-content-user-contact {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
    button {
      margin-top: 15px;
      cursor: pointer;
      padding: 10px;
      --green: #ffc700;
      font-size: 15px;
      letter-spacing: 0.06em;
      position: relative;
      font-family: inherit;
      border-radius: 0.6em;
      overflow: hidden;
      transition: all 0.3s;
      line-height: 1.4em;
      border: 2px solid var(--green);
      background:transparent;
      color: var(--green);
    }
  }
}
